<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/photoGallery">PhotoGallery</a></li>
        </ul>
    </nav>
    <div class="mainContainer">
        <div class="titleContainer">
            <h1>About Will Smith</h1>
            <p>Willard Carroll Smith II[3] (born September 25, 1968), briefly known as The Fresh Prince, is an American actor and rapper. He has received multiple accolades, including an Academy Award, a BAFTA Award and four Grammy Awards.[4][5][6] As of 2023, his films have grossed over $9.3 billion globally,[7] making him one of Hollywood's most bankable stars.[8][9]

                Smith began his acting career starring as a fictionalized version of himself on the NBC sitcom The Fresh Prince of Bel-Air (1990–1996). He first gained recognition as part of a hip hop duo with DJ Jazzy Jeff, with whom he released five studio albums and the US Billboard Hot 100 top 20 singles "Parents Just Don't Understand", "A Nightmare on My Street", "Summertime", "Ring My Bell", and "Boom! Shake the Room" from 1984 to 1994. He released the solo albums Big Willie Style (1997), Willennium (1999), Born to Reign (2002), and Lost and Found (2005), which contained the US number-one singles "Gettin' Jiggy wit It" and "Wild Wild West". He has received four Grammy Awards for his rap performances.[10]</p>
        </div>    
</body>
</html>